@page "/Room/{RoomId}"
@inject NavigationManager NavigationManager
@inject Microsoft.JSInterop.IJSRuntime js;
@implements IAsyncDisposable;
@using DrawChatApp.Components;
@using System.Text.RegularExpressions;

@if (Model != null)
{
    <h2>@Model.Name</h2>

    @if (!IsActiveGame)
    {
        <p>Waiting for other players</p>

        <p>Please enter your name</p>
        <div class="form-group">
            <label>
                <input @bind="userName" />
            </label>
        </div>
        <button disabled="@(!IsConnected)" @onclick="UpdatePlayer">Update Name</button>

        <br><br>

        <button disabled="@(Players.Count > 2)" @onclick="StartGame">Start Game</button>
    }
    else
    {
        @if (CurrentPlayer.IsArtist == true)
        {
            <p>Your Word is '@ActiveWord'</p>
        }
        else
        {
            <p>@(Regex.Replace(ActiveWord.Name, "[A-Za-z ]", " _ "))</p>
        }

        <GameWhiteboard IsDisabled="@(!CurrentPlayer.IsArtist)"></GameWhiteboard>

        <GameChat userName="@userName"></GameChat>
    }

    <p>Current players:</p>
    <ul>
    @foreach (var p in Players)
    {
        <li>@p.Name</li>
    }
    </ul>
}




@* 
IF Inactive Game:

<p>Waiting for other players</p>

	!IsHost:
	<p>Please enter your name</p>
	[Name Input Form]

[List of Other Players]
[If Host ? Start Game Button]

ELSE IF Active Round: 

[Word = Is Artist ? Shown : Spaces] [Category] 
[Timer] 

[Whiteboard]
[Chat/Guess Input]
[User List with Points. Artist highlighted.]

ELSE IF Between Rounds:

[Display Message = Is Artist ? "Your Word is _____" : "Please wait for artist."] 
[Is Artist ? Continue button] 

ELSE If Game Over:

<p>Congratulation [winner]</p>
[Sorted User List with Points]
[New Game button]


*@






